mixin section_heading(textTitle)
    .section-heading
        h2.title= textTitle

mixin section_heading_with_subtitle(textTitle, textSubtitle) 
    .section-heading.section-heading--with-subtitle
        h2.title= textTitle
        h3.subtitle= textSubtitle

mixin section_caption(textCaption, textButton, buttonLink)
    .section-caption
        p.caption !{`${textCaption}`}
        a(href=`${pathUrl}${buttonLink}`, class="button button--ghost") !{`${textButton}`}

mixin section_content(textContent)
    .section-content
        p.body !{`${textContent}`}