include ../config/conf_footer

footer.footer
    .footer__content
        .footer__home
            img(src=`${pathImg}logo-amsofipo.svg`, class="footer__logo", alt="amsofipo")
        .footer__socials
            ul.socials
                each social in FOOTER_SOCIALS
                    li.socials__item: a(href=`${social.href}`, target="_blank")
                        img(src=`${pathImg}${social.icon}`, alt=`amsofipo - ${social.alt}`)
        .footer__contact
            .write-us
                h3.footer__label Escríbenos
                p.footer__text= `${FOOTER_CONTACTO.email}`
            .call-us
                h3.footer__label Llámanos
                p.footer__text= `${FOOTER_CONTACTO.telefono}` 
        .footer__visit-us
            h3.footer__label Visítanos
            p.footer__text !{`${FOOTER_CONTACTO.direccion}`}
        .footer__interest
            h3.footer__label Sitios de interés
            ul.interest
                each sitio in FOOTER_SITIOSINTERES
                    li: a(href=`${sitio.url}`, class="footer__text", target="_blank")= `${sitio.name.toUpperCase()}`
        .footer__legal
            ul.legal
                li: a(href=`${pathAssets}marco-legal.PPTX`, class="footer__text", target="_blank") Marco Legal
                li: a(href=`${pathAssets}aviso-de-privacidad.pdf`, class="footer__text", target="_blank") Aviso de Privacidad
    .footer__info
        ul.info
            li.footer__label Asociación Mexicana de Sociedades Financieras Populares
            li.footer__small: img(src=`${pathImg}icon-info.svg`, alt="información")