include ../config/conf-footer

footer.footer.__grid
    .footer__child
        img(src=`${pathImg}logo-amsofipo.svg`, alt="amsofipo")
    .footer__child
        ul.footer__socials
            each social in FOOTER_SOCIALS
                li: a(href=`${social.href}`, target="_blank"): img(src=`${pathImg}${social.icon}`, alt=`amsofipo - ${social.alt}`)
    .footer__child
        h3.footer__label Escríbenos
        p.footer__text.mbottom--md= `${FOOTER_CONTACTO.email}`
        h3.footer__label Llámanos
        p.footer__text= `${FOOTER_CONTACTO.telefono}` 
    .footer__child
        h3.footer__label Visítanos
        p.footer__text !{`${FOOTER_CONTACTO.direccion}`}
    .footer__child
        h3.footer__label Sitios de interés
        ul.footer__sitios-interes
            each sitio in FOOTER_SITIOSINTERES
                li: a(href=`${sitio.url}`, class="footer__text", target="_blank")= `${sitio.name.toUpperCase()}`
    .footer__child
        ul
            li.footer__small: a(href="../assets/marco-legal.PPTX", class="footer__small", target="_blank") Marco Legal
            li.footer__small: a(href="../assets/aviso-de-privacidad.pdf", class="footer__small", target="_blank") Aviso de Privacidad
        ul
            li.footer__small Asociación Mexicana de Sociedades Financieras Populares
            li.footer__small: img(src=`${pathImg}icon-info.svg`, alt="información")