include ../config/conf-form

form.form
    each tag in FORM.input
        .form__child
            label.form__label= `${tag.label}`
            input(type=`${tag.type}`, placeholder=`${tag.placeholder}`, class="form__input")
    each tag in FORM.textarea
        .form__child
            label.form__label= `${tag.label}`
            textarea(placeholder=`${tag.placeholder}`, class="form__input form__txtarea")
    each tag in FORM.submit
        .form__child
            button(type=`${tag.type}`, class="form__input form__submit")= `${tag.cta}`