form.formulario.formulario-contacto

    each tag in formularioContacto.input
        .formulario__box
            label.formulario__label.white= `${tag.label}`
            input(type=`${tag.type}`, placeholder=`${tag.placeholder}`, class="formulario__input white")
    
    each tag in formularioContacto.textarea
        .formulario__box
            label.formulario__label.white= `${tag.label}`
            textarea(placeholder=`${tag.placeholder}`, class="formulario__input formulario__textarea white")

    each tag in formularioContacto.submit
        .formulario__box
            button(type=`${tag.type}`, class="formulario__submit")= `${tag.cta}`