ul.indicadores
    each val in INDICADORES_2019
        li.indicadores__item
            .indicadores__content
                h1.heading.subtitle.light.uppercase.mbottom--md= `${val.mes}`
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-sofipo-operacion.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.sofipos_autorizadas_en_operacion}`
                    p.body.normal.light SOFIPO autorizadas en operación
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-numero-clientes.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.numero_de_clientes}`
                    p.body.normal.light Número de clientes
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-placeholder.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.municipios_atendidos}`
                    p.body.normal.light Municipios atendidos
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-numero-sucursales.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.numero_de_sucursales}`
                    p.body.normal.light Número de sucursales
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-activo-total.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.activo_total} MDP`
                    p.body.normal.light Activo total
            .indicadores__content
                .indicadores__child
                    img(src=`${pathImg}icon-captacion.svg`, class="indicadores__icon")
                .indicadores__child.indicadores__description
                    h2.body.caption.medium= `${val.captacion} MDP`
                    p.body.normal.light Captación