extends ../templates/pages
block sections
    include ../config/conf-notas
    include ../config/conf-boletines
    .years.mbottom--md
        button(class="tablink body normal light text--alt", onclick="openCity('2019', this, 'var(--second)')", id="defaultOpen") Notas de prensa
        button(class="tablink body normal light text--alt", onclick="openCity('2018', this, 'var(--second)')") Boletines de presna

    .notas-de-prensa#notas-de-prensa
        .notas-de-prensa__child
            h1(style="margin-bottom: var(--lg);") NOTAS DE PRENSA
                ul.notas
                    each nota in NOTAS
                        li.notas__item: a(href=`${nota.href}`, target="_blank")
                            h1.notas__titulo= `${nota.titulo}`
                            h2.notas__autor= `${nota.autor}`
                            p.notas__medio= `${nota.medio}`
                            p.notas__fecha= `${nota.fecha}`
        
    .boletines-de-prensa#boletines-de-prensa    
        .notas-de-prensa__child
            h1(style="margin-bottom: var(--lg);") BOLETINES DE PRENSA
              ul.notas
                each boletin in BOLETINES
                    li.notas__item: a(href=`${boletin.href}`, target="_blank")
                        h1.notas__titulo= `${boletin.titulo}`
                        h2.notas__autor= `${boletin.autor}`
                        p.notas__medio= `${boletin.medio}`
                        p.notas__fecha= `${boletin.fecha}`