include ../config/conf-indicadores
section.home-indicadores
    .home-indicadores__child
        h1.heading.bold.title.first.uppercase.center--content indicadores marzo 2020
    .home-indicadores__child
        ul.home-indicadores__card
            each val in INDICADORES_2020
                li.home-indicadores__item
                    img(src=`${pathImg}${val.icon}`, class="mbottom--sm center--block", alt="icon")
                    h2.text--alt.body.light.mbottom--xs= `${val.indicador}`
                    h3.text--alt.caption.medium.mbottom--sx= `${val.cifra}`
    .home-indicadores__child
        img(src=`${pathImg}img-home-indicadores.png`, class="center--block mbottom--xl")
        p.body.light.subtitle.text.mbottom--lg Conoce aquí los principales indicadores del sector.
        a(href="inclusion-financiera.html#informacion-estadistica", class="button--alt") descubre más